[submodule "themes/hugo-coder"]
	path = src/themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "src/themes/hugo-cloak-email"]
	path = src/themes/hugo-cloak-email
	url = https://github.com/martignoni/hugo-cloak-email.git
